// $primary: blue;
.dropzone {
    min-height: 150px;
    border: 2px dashed #4b5563;
    background: #fff
}

.dropzone:hover {
    background-color: #e5e7eb
}

.dropzone .dz-message .dz-button {
    font-size: 1.25rem;
    font-weight: 500
}